:root{
    --g1: #3A7302; 
    --g2: #95BB03; 
    --g3: #4F5902; 
    --g4: #888C04; 
    --g5: #C3B85F;
    --g6: #b4b241;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color:var(--g5);
    
    
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    
}
body{
    text-align: center;
    margin: 600px;
}

body::-webkit-scrollbar{
    width: 1rem ;
}
body::-webkit-scrollbar-track{
    background-color: var(--g5);
}
body::-webkit-scrollbar-thumb{
    background-color:var(--g3);
}
p{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    background-color: var(--g6);
    font-size: 20px;
}

.main-header{
    background: url(../images/header.png);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    /*display: flex;
    justify-content: space-between;*/
    margin-bottom: 0;
    max-height: 800px;
    border-bottom: 5px solid var(--g3);
    
}
.main-header img{
    background:transparent;
    margin-top: 10px;
    width: 120px;
    
}
.main-header h1{
 color: #22221a;
 font-size: 40px;
 display: flex;
 justify-content: center;
 position: relative;
 background: transparent;
}

.navbar{
    position: sticky;
    top: 0;
    list-style: none;
    border-top:10px solid var(--g3) ;
    border-bottom: 10px solid var(--g3);
    display: flex;
    justify-content: center;
    
}
.navbar a, .navbar i{
    text-decoration: none;
    background:transparent;
    color: var(--g5);
    
}
.navbar ul li{
    background:transparent;
    margin: 10px;
    padding: 10px;
    background:transparent;
    display: inline-block;
    position: relative;
    background-color: var(--g3);
    border-radius: 10px;
    text-align: center;
}

.navbar ul li a:hover{
    font-weight: 1000;
    font-size: 20px;
    color: var(--g3);
    background-color: var(--g5);
    padding: 15px;
    border: 2px solid var(--g3);
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
    
}
.current a {
    background-color: var(--g5);
    font-weight: 800;
    color: #5e582c;
    padding: 5px;
    border-radius: 10px;
}
.navbar ul li a{

    display: flex;
    justify-content: space-around;
    align-items: center;

}
a{
    text-decoration: none;
}
#menu-text{
    display: none;
    color: #4F5902;
    max-width: 100%;
    text-align: center;
}
#menu-bar{
    display: none; 
}



.search-box{
    margin: 10px;
    padding: 10px;
    background-color: var(--g4);
    height: 40px;
    border-radius: 20px;
    float: right;

}
::placeholder{
    color:#5e582c;
}

.search-txt{
    width: 300px;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: var(--g3);
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s;
}
/*.search-btn{
    color: #22221a;
    float: right;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}*/

/**INDEX*/
.sec1-index img{
    height: 500px;
    background-color: black;
    margin: 0;
    padding: 0;
    
}

.container{
    position: relative;
    text-align: center;
    color: var(--g4);
}
.txt {
    background:transparent;
    position: absolute;
    top: 0px;
    align-items: center;
    text-align: center;
    font-size: 120px;
    font-weight: bolder;
    word-spacing: 10px;
    letter-spacing: 10px;
    line-height: 200px;
    font-style: italic;
  }
.mobile-txt{
    display: none;
    font-size: 30px;
}


.sec2-content{
    padding: 10px;
    margin: 0;
    display: inline-grid;
    grid-template-columns: auto auto auto;
 
}
.sec2-grid{
    background-color:var(--g4);
    padding: 10px;
    margin: 20px;
    font-size: 30px;
    text-align: center;

}
.sec2-index h1,.sec3-index h1,.sec4-index h1,.sec5-index h1 {
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
    border: 5px solid var(--g3);
    border-radius: 20px;
}
.sec2-grid h3{
    background: transparent;
    margin: 10px;
    border: 5px dotted var(--g6);
}

.sec2-grid p{
    margin: 0;
    background: transparent;
}
section .sec3-index{
    align-items: center;
}
.sec3-index h2, .sec4-index h2{
    font-size: 40px;
    margin: 10px;
    
}
.sec4-index img{
    width: 500px;
}
.sec5-index ul li, ol li{
    list-style-position: inside;
    text-align: left;
    margin-left: 100px;
    padding: 5px;
    line-height: 10px;
}
.sec5-index{
    padding: 10px;
    margin: 0;
    display: inline-grid;
    grid-template-columns: auto auto auto;
 
}
.sec5-index h1{
 font-size: 30px;
 font-style: italic;
 margin-bottom: 10px;
}
.sec5-index h2{
    margin-top: 10px;
    font-size: medium;
}
.sec5-index h1,.sec5index h2{
    padding: 10px;
    width: 700px;

}
/*ANIMALS AND PLANTS*/
.anim{
    display: grid;
    grid-template-columns: auto auto auto;
    padding:10px;
}
.content{
    align-items: center;
    
    width: 500px;
    height: 550px;
    padding: 15px;
   
}
.content img{
    width: 450px;
    object-fit: cover;
   
}
.content p{
    margin: 10px;
    text-align: center;
    font-size: 15px;
}
.plant-table{
    margin-top:10px ;
}
.plant-table img{
    width: 300px;
}
.plant-table th,.plant-table td{
    margin: auto;
    width: auto;
    border: 5px solid black;
}
.table-heading{
    margin: 0;
    font-size: 20px;
    border-top: 5px solid var(--g3);
    border-bottom: 5px solid var(--g3);
}
.table-heading h1{
    font-size: 50px;
    font-style: italic;
}

/*ACTIVITIES*/
.activity-live-time{
    margin-top: 10px;
    font-size: 25px;
}
.activity-live-time h5{
    font-style: italic;
    font-weight: 900;
}
.activity-live-time h3{
    text-decoration: underline;
}
.sec1-activity{
    margin: 10px;
}
.sec1-activity p{
    margin-top: 5px;
}
.sec1-activity-content{
    padding: 10px;
    margin: 0;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.sec1-activity-content img{
    width: 500px;
    margin: 10px;
}
.trivia-content, .bday-content{
    padding: 10px;
    margin: 0;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    border: 5px solid var(--g3);
}

.trivia-img .bday-img{
    width: 300px;
}
.trivia-content p,.bday-content p{
    margin: 0;
    margin-bottom: 10px;
    align-items: center;
    width: 700px;
}
.bday-content p{
    background-color: transparent;
    width: 550px;
    margin: 10px;
}
.trivia-content ul li, .trivia-content ol li{
    list-style-position: inside;
    text-align: left;
    margin-left: 100px;
    padding: 5px;
    line-height: 10px;
}
.activity-trivia h3,.activity-bday h3{
    font-size: 30px;
}
.bday-info{
    align-items: center;
}
.bday-details{
    align-items: center;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    font-size: 20px;
}
.bday-details h4{
    color: var(--g3);
}
.bday-details ul li{
    list-style-position: inside;
    text-align: center;
    
}
/*SHOP AND DONATE*/
.products{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 0px;
}
.plushie {
    width: auto;
    height: 400px;
    padding: 15px;
    
}
.plushie img{
    width: 300px;
}

/*contact us*/
.contact-us form{
    padding: 10px;
}
.contact-us div{
    margin: 10px;
}


.activity-content h1,.activity-content h2,
.contact-us h1,.contact-us h2,
.shop-and-donate h1{
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
    border: 5px solid var(--g3);
    border-radius: 20px;
}

.purchaseLink a {
    text-decoration: underline;
    color: var(--g3);
}






















@media(max-device-width:700px){
    body{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .main-image>img{
        width: 375px;
    }
    .main-header{
        border-bottom: solid #4F5902;
    }
    
    .main-header h1{
        font-size: 20px;
        font-weight: 1100;
    }
    .main-header img{
        width: 100px;
        background-color: #4F5902;
        
    }
    .navbar{
        display: none;
        width: 100%;
    }
    label h3{
        border-bottom: 5px solid var(--g3);
    }
    #menu-text{
        display: initial;
        width: 100%;
        margin-top: 5px;
        align-items: center;
        
    }
    
    .navbar{
        position: relative;
        list-style: none;
        border: none;
        display: flex;
        justify-content: center;
        display: none;
        border-radius:0;

        
    }
 
    .navbar ul li{
        width: 90%;
        display: flex;
        margin: 5px;
        margin-left:20px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    .navbar ul li a{
        margin: 5px;
        width: 100%;
        height: 100%;
    }

    .sec1-index{
        border-top: solid var(--g3);
    }
    .search-box{
        display: flex;
        align-items: center;
        
    }

    /*makes sure when menu is clicked nav bar is opened*/
    #menu-bar:checked ~ .navbar{
        display: initial;

    }
    
    div .search-box{
        width: 90%;
        align-items: center;

    }
    /*index*/

    .container{
        position: static;
    }
    .txt{
        background:transparent;
        top: 0px;
        text-align: center;
        font-weight: bolder; 
        display: none; 
    }
    .sec1-index img{
        width: 350px;
        height: auto;
        background-color: black;
        margin: 0;
        padding: 0; 
    }
    .mobile-txt{
        display: initial;
       
    }
    p{
        margin-left: 0px;
        margin-right: 0px;
        background-color: var(--g6);
        font-size: 20px;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    .sec2-content{
        display: initial;
        padding: 0;
    }
    .sec4-index{
        margin-bottom: 10px;
    }
    .sec4-index img{
        width: 300px;
    }
    .sec5-index{
        padding: 0%;
        display:initial;
        align-items: center;   
    }

    .sec5-index h1, .sec5-index h2{
        margin: auto;
        width: 300px;
    }

    .sec5-index ul li, .sec5-index ol li{
        margin: 10px;
        line-height: 20px;
    }
    
    .anim{
        display: block;
        padding: 0;
        align-items: center;
    }
    .content img{
        width: 300px;
        
    }
    .content{
        height: fit-content;
        width: fit-content;
    }
    .plant-table table tr td h2{
        font-size: 15px;
    }
    .plant-table table tr td h1{
        font-size: 17px;
    }
    .plant-table table tr td {
        font-size: 10px;
    }
    .plant-table table tr td img{
        width: 100px;
    }
    .plant-table th,.plant-table td{
        margin: auto;
        width: auto;
        border: 2px solid rgb(1, 46, 1);
    }
    .table-heading h1{
        margin: 5px;
        font-size: 30px;
        border-top:none;
        
    }
    


    .activity-content h1,h2,h3{
        font-size: 25px;
    }

    .sec1-activity-content{
        display: initial;
        width: fit-content;
        height: fit-content;
    }
    .sec1-activity-content img{
        width:200px
    }
    .sec1-activity-content h1, .sec1-activity-content h2{
        font-size: 30px;
        margin: 0;
        
    }
    .trivia-content, .bday-content{
        display: initial;
        border:none;
    }
    .trivia-content p, .bday-content p{
        width: fit-content;
    }
    .trivia-content img, .bday-content img{
        width: 200px;
    }
    .trivia-info ol li{
        line-height: 20px;
        text-align: left;
        list-style-position: inside;
        margin-left: 0;

        
    }
    .trivia-info ul li{
        line-height: 17px;
        list-style: circle;
        list-style-position: inside;
        margin-left: 0;
    }
    
    .activity-bday ul li{
        font-size:15px;
        line-height: 17px;
        list-style: circle;
        list-style-position: inside;
        margin-left: 0;
    }
    .products{
        display: initial;
    }
    .products p{
        font-size: 15px;
    }
    .plushie{
        height: fit-content;
    }
    .plushie img{
        width: 200px;
    }
    .donation h1{
        font-size: 30px;
        padding: 5px;
        margin: 5px;
        
    }


    
}
    

    

